.american_auditing{
    background-color: white;
}
.american_auditing h1{
    text-align: center;
    color: rgba(62, 123, 250, 1);
    padding: 50px 0;
    text-transform: uppercase;
}
.about_us1{
    width: 70%;
    background-color: rgba(242, 242, 245, 1);
}
.about_us2{
    width: 100%;
    height: 100%;
}
.group_american_img{
    display: flex;
    padding: 80px 200px;
    gap: 1rem;
    justify-content: center;
}
.card_one{
    line-height: 25px;
    padding:30px 50px;
    background-color: rgba(18, 29, 80, 1);
    color: white;
    position: relative;

}
.group_card{
    padding: 0 200px 50px 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.number{
    position: absolute;
    font-weight: 900;
    font-size: 50px;
    top: -2%;
    z-index: 2;
    right: 2%;
    color: rgba(5, 166, 96, 1);
}
@media (min-width:350px) and (max-width:600px){
    .american_auditing h1{
        font-size: 30px;
    }
    .group_american_img{
        flex-direction: column;
        padding: 0 20px;

    }
    .group_american_img img{
        width: 100%;
    }
    .group_card{
        padding: 50px 20px;
        grid-template-columns: none;
    }
}
@media (min-width:601px) and (max-width:900px){
    .group_card{
        padding: 50px 20px;
        grid-template-columns: repeat(2,1fr);
    }
}